<% include partials/header %>



<p> <%=picture.name%> </p>

<img src="<%=picture.image%>" alt="">

<p><%=picture.description%> </p>

<% picture.comments.forEach(function(comment){%>
<p>
    <strong><%= comment.author%></strong> - <%=comment.text%>
</p>
    <%})%>

<% include partials/footer %>